body{margin: 0;}

#landing-page #container {
    width: 100vw;
    background-color: #CEE7F5;
    max-width: 100vw;
}

#container .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    color: #324259;
    margin: 2.5rem auto 1.25rem;
    font: 700 6.25rem Poppins, sans-serif;
}

.logo .recepcao {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.logo .recepcao h2 {
    color: #3F7CCC;
    font: 700 2.2rem Poppins, sans-serif;
}

.logo .recepcao p {
    color: #324259;
    margin-top: 0;
    font: 600 1.15rem Poppins, sans-serif;
}

#container #main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

#main-content img {
    margin-top: 0;
}

#container #main-frase {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #324259;
    margin: 4rem 10px 1rem;
    font-size: 0.85rem;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

#container #button-cnt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

#button-cnt .button-content {
    border: 0;
    padding: 10px;
    background-color: #324259;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s;
    color: #FFF;
    margin: auto 10px;
    font: 600 1.5rem Poppins, sans-serif;
    text-decoration: none;
}

#button-cnt .button-content:hover {
    background-color: #3F7CCC;
}

@media (min-width: 1100px) {
    #landing-page #container {
        height: 100vh;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 350px 1fr;
        grid-template-areas: "eureka image image" "button texting texting";
    }

    #container .logo{
        grid-area: eureka;
        width: 37.5rem;
        height: 25rem;
        margin-top: 7rem;
        margin-left: 10rem;
        display: flex;
        align-items: flex-start;
    }

    .logo h1 {
        font-size: 8.5rem;
        font-weight: 600;
        margin: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .logo .recepcao {
        margin: 0;
    }

    .logo .recepcao h2 {
        font-size: 2.5rem;
        margin: 30px 0 20px;
    }
    
    .logo .recepcao p {
        font-size: 1.3rem;
    }

    #main-content{
        grid-area: image;
        align-self: center;
        margin-bottom: -15rem;
        margin-right: 12rem;
    }

    #main-content img {
        width: 600px;
        margin-left: 30px;
        margin-top: 20px;
    }

    #container #main-frase{
        grid-area: texting;
        margin-right: 7rem;
        margin-left: -4rem;
        padding-top: 3rem;
    }

    #main-frase p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    #button-cnt{
        grid-area: button;
        padding: 0;
        margin-top: 11rem;
    }

    #button-cnt .button-content {
        font-size: 1.6rem;
    }
}